[submodule "Iridion-core"]
	path = Iridion-core
	url = https://git.finite.ovh/Iridion-core
[submodule "lantanite"]
	path = lantanite
	url = https://github.com/fy-nite/lantanite
[submodule "starchart"]
	path = starchart
	url = https://github.com/fy-nite/starchart
[submodule "Chippy"]
	path = Chippy
	url = https://github.com/fy-nite/Chippy
[submodule "jakarada"]
	path = jakarada
	url = https://github.com/fy-nite/jakarada
[submodule "Adamantite"]
	path = Adamantite
	url = https://github.com/Fy-nite/Adamantite
[submodule "StarChart-Software"]
	path = StarChart-Software
	url = https://github.com/fy-nite/StarChart-Software
